@font-face {
    font-family: 'Pixel';
    src: url('../fonts/PublicPixel-rv0pA.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    font-family: 'Pixel', sans-serif;
    color: #ffffff;
}

.games {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}

.games a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
}

.games a:hover {
    font-size: 2rem;
    transition: 0.5s;
}