@font-face {
    font-family: 'Pixel';
    src: url('../../fonts/PublicPixel-rv0pA.ttf') format('truetype');
}

body {
    font-family: 'Pixel', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

.back {
    position: absolute;
    left: 20px;
    top: 20px;
}

.back svg {
    width: 30px;
    height: 30px;
    fill: #ffffff;
}
.back svg:hover {
    width: 35px;
    height: 35px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container h1 {
    font-size: 1.5rem;
    color: #ffffff;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    margin: 20px auto;
}

.square {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.square.revealed {
    cursor: default;
}

#restart-button {
    font-family: 'Pixel', sans-serif;
    border: none;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
    font-size: 1rem;
}

#restart-button:hover {
    font-size: 1.2rem;
    transition: 0.5s;
}